@charset "utf-8";
/****** Zion Responsive Framework - Alfa 1.0 - Copyright Seaweb Studio, 2013 ******/

/**********************************************************************************/
*{
	margin:0;
	padding:0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
/************************************HTML*****************************************/
html,body {
	width:100%;
	height:100%;
	}
h1,h2,h3,h4,h5,h6 {
	color:#484848;
	text-shadow:2px 2px 2px #CCC;
	}
h1,h2,h3,h4,h5,h6 {
	margin-bottom:0.5em;
	margin-top:0.5em;
	}
p {
	color:#666;
	text-shadow:2px 2px 2px #CCC;
	margin:0.5em 0px;
	}
a	{
	color:#C30;
	text-decoration:none;
	font-style:italic;
	}
a:hover {
	color:#000;}
img {
	width:150px;
	height:auto;
	border-radius:15px;
	}
footer {
	min-height:120px;
	border-top:thin #CCC solid;
	color:#999;
	}
footer .container {
	border:none;
	width:auto;
	background:none;
	margin:0px auto;
	}
/************************************GRID*****************************************/
/****************CONTAINER****************/
.container {
	width:auto;
	max-width:978px;
	margin:20px auto;
	padding:20px;
	border-radius:5px;
	}
.container {
	background:#F7F7F7;
	border:thin #E5E5E5 solid;
	}


/**********************************OBJECTS****************************************/

/****************NAVBAR****************/
.navbar {
	min-height:40px;
	color:#FFF;
	}
.navbar, .navbar ul {
	background:black;
	}
.navbar.minimal, .navbar.minimal ul {
	background:none;
	}
	
.navbar .title {
	float:left;
	line-height:40px;
	padding:0px 40px;
	cursor:default;
	}
.navbar .title {
	font-size:1.5em;
	text-transform:uppercase;
	}
.navbar.minimal	.title{
	color:#000;
	}
.navbar ul {
	list-style:none;
	text-align:center;
	}
.navbar ul {
	float:right;
	margin-right:30px;
	}
	
.navbar ul li{ 
	min-width:50px;
	padding:0px 5px;
	font-size:14px
	}
.navbar ul li{
	float:left;
	}
.navbar ul li a, .navbar.minimal ul li a{
	font-style:normal;
	text-decoration:none;
	display:block;
	height:40px;
	padding:0px 15px;
	line-height:40px;
	}	
.navbar ul li a{
	color:#CCC;
	text-shadow:2px 2px 3px #333333;
	}
.navbar.minimal ul li a{
	color:#333;
	text-shadow:2px 2px 3px #CCCCCC;
	}
	
.navbar ul li a:hover{
	color:#000;
	background:#CCC;
	text-shadow:0px 0px 0px #333333;}
.navbar.minimal ul li a:hover{
	color:#666;
	text-shadow:0px 0px 0px #CCCCCC;}
/****************DROPDOWN****************/
.dropdown{
	}
/*******************BOX******************/
.box {
	border-radius:5px;
	background:#CCC;
	padding:20px;
	}